<%- include("header") -%>

<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim blanditiis modi doloremque nesciunt nisi similique eum, accusamus minus dicta vero magnam culpa cumque tempora sint, sed aut asperiores facilis.</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo tenetur sed, sit. Hic nisi iure placeat, laboriosam voluptatum laborum id.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo tenetur sed, sit. Hic nisi iure placeat, laboriosam voluptatum laborum id.</p>

<%- include("footer") -%>